<table class="table center bg-yell">
    <thead>
        <tr>    
            <th>IMAGEN</th>
            <th>NOMBRE</th>
            <th>VEGANA</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>CANTIDAD</th>
            <th>COMPRAS</th>
        </tr>
    </thead>   
    <tbody>
        <tr *ngFor="let food of foods" [ngClass]="{'oferta': food.oferta}">
            <td><img [src]="food.image" [alt]="food.nombre" width="200px" height="150px"></td>
            <td>{{food.nombre | uppercase}}</td>
            <td>{{food.vegana | uppercase}}</td>
            <td>{{food.precio | currency}}</td>
            <td><span class="badge badge-danger" *ngIf="food.stock == 0">Sin stock</span><span class="badge badge-pill badge-success" *ngIf="food.stock > 0">Disponible</span></td>
            <td>
              <app-input-integer [(cantidad)]="food.cantidad" [max]="food.stock" *ngIf="food.stock" (cantidadMax)="cantidadMax($event)"></app-input-integer>  <!-- COMPONENTE PADRE -->
            </td> <!-- cantidad la declaro en food.ts-->
            <td>
              <button class="btn btn-primary" (click)="addToCart(food)">Comprar</button>
            </td> 
        </tr>
    </tbody>
</table>
