<table class="table center bg-darkLigth">
    <thead>
        <tr>    
            <th>IMAGEN</th>
            <th>NOMBRE</th>
            <th>VEGANA</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>COMPRA</th>
        </tr>
    </thead>   
    <tbody>
        <tr *ngFor="let food of foods" [ngClass]="{'oferta': food.oferta}">
            <td><img [src]="food.image" [alt]="food.nombre" width="200px" height="150px"></td>
            <td>{{food.nombre | uppercase}}</td>
            <td>{{food.vegana | uppercase}}</td>
            <td>{{food.precio | currency}}</td>
            <td><span class="badge badge-danger" *ngIf="food.stock == 0">Sin stock</span><span class="badge badge-pill badge-success" *ngIf="food.stock > 0">Disponible</span></td>
            <td>
                <div class="row">
                <button class="btn btn-success btn-sm" (click)="upCantidad(food)">+</button>
                <input class="input-group" type="text" [(ngModel)]="food.cantidad" (keyup)="onChangeCantidad($event, food)">
                <button class="btn btn-danger btn-sm" (click)="downCantidad(food)">-</button>
                </div>
            </td>  <!-- cantidad la declaro en food.ts-->
        </tr>
    </tbody>
</table>
