<div class="row comentarios mt-2">
    <div class="col-2 image mt-4">
        <img src="../../assets/img/chico.png" alt="peopleComment">
    </div>
    <div class="col-10 mt-4">
        <h4>Santiago Gauna</h4>
        <h6>Fecha: 11/11/2020</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati illum sit ab est molestiae praesentium deleniti voluptates molestias illo repellendus assumenda natus voluptatem architecto nemo quia aliquid suscipit, maxime enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>
<div class="row comentarios mt-2">
    <div class="col-2 image mt-4">
        <img src="../../assets/img/chico.png" alt="peopleComment">
    </div>
    <div class="col-10 mt-4">
        <h4>Santiago Gauna</h4>
        <h6>Fecha: 11/11/2020</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati illum sit ab est molestiae praesentium deleniti voluptates molestias illo repellendus assumenda natus voluptatem architecto nemo quia aliquid suscipit, maxime enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>
<div class="row comentarios mt-2">
    <div class="col-2 image mt-4">
        <img src="../../assets/img/chico.png" alt="peopleComment">
    </div>
    <div class="col-10 mt-4">
        <h4>Santiago Gauna</h4>
        <h6>Fecha: 11/11/2020</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati illum sit ab est molestiae praesentium deleniti voluptates molestias illo repellendus assumenda natus voluptatem architecto nemo quia aliquid suscipit, maxime enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>
<div class="row comentarios mt-2 mb-2">
    <div class="col-2 image mt-4">
        <img src="../../assets/img/chico.png" alt="peopleComment">
    </div>
    <div class="col-10 mt-4">
        <h4>Santiago Gauna</h4>
        <h6>Fecha: 11/11/2020</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati illum sit ab est molestiae praesentium deleniti voluptates molestias illo repellendus assumenda natus voluptatem architecto nemo quia aliquid suscipit, maxime enim?
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>
