/* You can add global styles to this file, and also import other style files */
/* ESTO ES PARA EL HTML GLOBAL, NO EL DE ANGULAR */
body{
    overflow-x: hidden;
}
.footer{
    text-align: center;
    background-color: black;
    height: 60px;
    color: white;
}
.j-center{
    justify-content: center;
    text-align: center;
}
.white{
    color: white;
}